/*
 * File: _grid.scss
 * Description: Contains the styles for the grid
 * Dependencies: None
 *
 * @package sass-test
 */

/* === Generic Column Styles === */
@include generate_helper_classes();

/* === Container Styles === */
.row {
	@include container();
	margin: 0 auto;
	margin-bottom: $gutter_width;
	height: 80px;
        max-width: 980px;
        background: none;
}

/* === Column/Item Styles === */
article div {
	height: 80px;
	background: $color_yellow;
	font-family: Arial, sans-serif;
	font-weight: 900;
	font-size: 24px;
	text-align: center;
	color: $color_nearlynearlyblack;
	line-height: 80px;
}

/* === Column Layouts === */

