/*
 * File: _colors.scss
 * Description: Contains all colors for the experience
 * Dependencies: None
 *
 * @package sass-test
 */

/* === Colors for Profound Grid === */
$color_yellow: #fff200;
$color_nearlyblack: #252525;
$color_nearlynearlyblack: #454545;
$color_body: #636363;
$color_headlines: #b7b7b7;
