/*
 * File: _vars.scss
 * Description: Contains various variables to be used
 * Dependencies: None
 *
 * @package sass-test
 */

/* === Profound Grid Variables === */
$total_width: 100%;
$container_margin: 0%;
$gutter_width: 2%;
