/*
 * File: _vars.scss
 * Description: Contains various variables to be used
 * Dependencies: None
 *
 * @package sass-test
 */

/* === Profound Grid Variables === */
$container_margin : 0%;
$gutter_width     : 2%;
$total_width      : 100%;

$class_container : 'row';
$class_column    : 'col';
$class_push      : 'push';
$class_row       : 'row';
